.user {
    margin-top: 2rem;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.rojo{
    background-color: pink;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;

    display: grid;
    place-items: center;
    margin: auto;
}
h1{
    text-align: center;
}
h2 {
    margin-top: 2rem;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

p {
    font-size: 14px;
    margin-top: 1rem;
    color: #666;
    color: black;
  }
